body {
  margin: 0;
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 3fr auto;

  background-image: url(adb33e8d496dfa9a1e00.png);
  background-repeat: repeat;
  background-size: 250px;
}

.main {
  display: flex;
  flex-direction: column;
}

header {
  font-size: 2rem;
  background: rgba(246, 201, 216, 0.85);
  backdrop-filter: blur(6px);

  color: #2c5d87;
  padding: 20px;
}

.search-container {
  display: flex;
  gap: 1rem;
  padding: 12px;
}

#suggestions {
  max-height: 10rem;
  overflow-y: auto;
  position: absolute;
  background-color: white;
}

.search-function input,
#suggestions {
  width: 15rem;
  border: solid black 1px;
}

.search-function input,
.cities,
.search button {
  height: 30px;
  align-items: center;
}

.cities:hover {
  background-color: blue;
  cursor: default;
  color: white;
}

.footer {
  display: flex;
  background: rgba(246, 201, 216, 0.85);
  backdrop-filter: blur(6px);

  color: #2c5d87;
  align-items: center;
  justify-content: center;
}

#weather-conditions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#output {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
}

#location {
  grid-column: 1/-1;
  padding: 24px;
  font-size: 2.5rem;
}

.weather {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background: rgba(246, 201, 216, 0.6);
  color: #2c5d87;
  margin: 12px;
  border-radius: 8px;
  border: solid black;
}

img {
  height: 10rem;
}

